<section class="container mt-5">
    <h2 class="text-light text-center">Bienvenue [##NAME##]</h2>
</section>
<section class="container mt-5 acc-main">
    <a class="block-admin" href="./?ind=desc"><img src="./src/img/project-512.svg" alt="icon projets" /><p>projets</p></a>
    <a class="block-admin" href="./?ind=cat"><img src="./src/img/menu-512.svg" alt="icon catégories" /><p>catégories</p></a>
    <a class="block-admin" href="./?ind=parc"><img src="./src/img/parcours-de-carriere-512.svg" alt="icon parcours" /><p>parcours</p></a>
    <a class="block-admin" href="./?ind=comp"><img src="./src/img/competences-512.svg" alt="icon compétences" /><p>compétences</p></a>
    <a class="block-admin" href="./?ind=comp_logo"><img src="./src/img/competences-1-512.svg" alt="icon compétences en logo" /><p>compétences en logo</p></a>
    <a class="block-admin" href="./?ind=add_logo"><img src="./src/img/partage-des-competences-512.svg" alt="icon ajouter un logo" /><p>ajouter un logo</p></a>
    <a class="block-admin" href="./?ind=lang"><img src="./src/img/code-512.svg" alt="icon languages" /><p>languages</p></a>
    <a class="block-admin" href="./?ind=framW"><img src="./src/img/framework-512.svg" alt="icon framework" /><p>framework</p></a>
    <a class="block-admin" href="./?ind=loisi"><img src="./src/img/loisir-512.svg" alt="icon loisir" /><p>loisir</p></a>
    <a class="block-admin" href="./?ind=add_cv"><img src="./src/img/cv-512.svg" alt="icon cv" /><p>CV</p></a>
    <a class="block-admin" href="./?ind=user"><img src="./src/img/utilisateur.svg" alt="icon utilisateur" /><p>utilisateur</p></a>
    <a class="block-admin" href="./?ind=msg"><img src="./src/img/enveloppe.svg" alt="icon messages" /><p>messages</p></a>

</section>