<section class="container mt-5">
    <h2 class="text-light text-center"><a href="./?ind=framW"><img alt="ajouter un nouveau contenu" title="ajouter un nouveau contenu" class="img_add_contenu" src="./src/img/ajouter-contenu.svg" alt="ajouter uncontenu" /></a>Framework</h2>
</section>
<section class="container mt-5">
    <form id="form-framework" action="#" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" id="id" value="[##ID_FRAMW##]" />
        <div class="mb-3">
            <label for="formVame" class="form-label text-light">nom</label>
            <input type="text" class="form-control" name="name" id="formVame" placeholder="" value="[##NAME_FRAMW##]">
        </div>
        <button id="validation" class="btn btn-dark d-grid mx-auto">
            Valider
        </button>
    </form>
</section>
<section class="container mt-5">
    <form id="form_find">
        <label for="recherche" class="form-label text-light m-2">Rechercher</label>
        <input type="text" class="form-control m-2" id="recherche" name="recherche">
        <button id="bt_find" type="submit" id="find" class="btn btn-dark m-2">Rechercher</button>
    </form>
</section>
<section id="tab_find" class="container mt-5">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th class="delete col-md-1 colum_display_img"><img alt="suprimer le plat" title="suprimer le plat" src="./src/img/icons8-supprimer-pour-toujours-90.svg" /></th>
                <th class="edit col-md-1 colum_display_img"><img alt="modifier le plat" title="modifier le plat" src="./src/img/icons8-modifier.svg" /></th>
                <th>titre</th>
            </tr>
        </thead>
        <tbody id="tab_find">
            [##FIND_FRAMW##]
        </tbody>
    </table>
</section>