<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./../src/bbcode_editeur/style-bbcode.css" />
    <link rel="stylesheet" href="./../src/css/normalizer.css" />
    <link rel="stylesheet" href="./../src/css/font.css" />
    <link rel="stylesheet" href="./src/css/style_default.css" />[##CONTENU_CSS##]
    <script
      async
      src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"
    ></script>
    <title>Portfolio</title>
  </head>
  <body>
    <header class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <nav class="navbar-brand">
        <img
          src="./../favicon.ico"
          width="60"
          height="60"
          class="d-inline-block align-top"
          alt=""
        />
      </nav>
      <a
        class="mx-auto"
        href="./"
        ><h1>Ludovic NAULOT</h1></a
      >
      <div class="dropdown d-flex">
        <button
          class="btn btn-dark"
          type="button"
          id="navbarDarkDropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img src="./src/img/burger_icon.svg" alt="menu" />
        </button>
        <ul class="dropdown-menu  dropdown-menu-lg-end dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
          <li><a class="dropdown-item" href="./../"><img src="./src/img/home-page.svg" alt="icon home">portfolio</a></li>
          <li><a class="dropdown-item" href="./?ind=desc"><img src="./src/img/project-64.svg" alt="icon projets">projets</a></li>
          <li><a class="dropdown-item" href="./?ind=cat"><img src="./src/img/menu-64.svg" alt="icon catégories">catégories</a></li>
          <li><a class="dropdown-item" href="./?ind=parc"><img src="./src/img/parcours-de-carriere-64.svg" alt="icon parcours">parcours</a></li>
          <li><a class="dropdown-item" href="./?ind=comp"><img src="./src/img/competences-64.svg" alt="icon compétences">compétences</a></li>
          <li><a class="dropdown-item" href="./?ind=comp_logo"><img src="./src/img/competences-1-64.svg" alt="icon compétences en logo">compétences en logo</a></li>
          <li><a class="dropdown-item" href="./?ind=add_logo"><img src="./src/img/partage-des-competences-64.svg" alt="icon ajouter un logo">ajouter un logo</a></li>
          <li><a class="dropdown-item" href="./?ind=lang"><img src="./src/img/code-64.svg" alt="icon languages">languages</a></li>
          <li><a class="dropdown-item" href="./?ind=framW"><img src="./src/img/framework-64.svg" alt="icon framework">framework</a></li>
          <li><a class="dropdown-item" href="./?ind=loisi"><img src="./src/img/loisir-64.svg" alt="icon loisir">loisir</a></li>
          <li><a class="dropdown-item" href="./?ind=add_cv"><img src="./src/img/cv-512.svg" alt="icon CV">CV</a></li>
          <li><a class="dropdown-item" href="./?ind=user"><img src="./src/img/utilisateur.svg" alt="icon utilisateur">utilisateur</a></li>
          <li><a class="dropdown-item" href="./?ind=msg"><img src="./src/img/enveloppe.svg" alt="icon messages">messages</a></li>
          <li><a class="dropdown-item" href="./../src/exec/deconnexion_exec.php"><img src="./src/img/deconnexion.svg" alt="icon Déconnexion">Déconnexion</a></li>
        </ul>
      </div>
    </header>
    [##CONTENU##]
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="./../src/bbcode_editeur/bbcode.js"></script>
    <script src="./../src/js/le_fetch.js"></script>
    <script src="./../src/js/popup.js"></script>
    <script src="./src/js/funtion_get.js"></script>
    <script src="./src/js/addModifObject.js"></script>[##CONTENU_JS##]
  </body>
</html>
