<section class="container mt-5">
    <h2 class="text-light text-center"><a href="./?ind=desc"><img alt="ajouter un nouveau contenu" title="ajouter un nouveau contenu" class="img_add_contenu" src="./src/img/ajouter-contenu.svg" alt="ajouter uncontenu" /></a>Produits</h2>
</section>
<section class="container mt-5">
    <form id="form-produit" action="#" method="post" enctype="multipart/form-data">
        <div class="mb-3 d-flex justify-content-center form-check form-switch ">
            <input class="form-check-input" type="checkbox" name="display" value="true" id="checkDisplay" [##DISPLAY_PROD##]>
            <label class="form-check-label text-light labelDisplay" for="checkDisplay">
                Afficher sur la page
            </label>
        </div>
        <input type="file" id="file" name="file" accept="image/png, image/jpeg" />
        <img id="add-img" src="[##IMG_PROD##]" alt="ajouter une image" />
        <input type="hidden" name="id" id="id" value="[##ID_PROD##]" />
        <div class="mb-3">
            <label for="formName" class="form-label text-light">nom</label>
            <input type="text" class="form-control" name="name" id="formName" placeholder="" value="[##NAME_PROD##]">
        </div>
        <div class="mb-3">
            <label for="formDescription" class="form-label text-light">Description</label>
            <textarea class="form-control" name="description" id="formDescription" rows="3">[##DESC_PROD##]</textarea>
        </div>
        <div class="mb-3">
            <label for="formDescription" class="form-label text-light">Src</label>
            <textarea class="form-control" name="src" id="formDescription" rows="3">[##SRC_PROD##]</textarea>
        </div>
        <div class="list-column">
            <div class="mb-3">
                <label class="form-label text-light">Catégories</label><br />
                [##CAT_PROD##]
            </div>
            <div class="mb-3">
                <label class="form-label text-light">Language</label><br />
                [##LANGP_PROD##]
            </div>
            <div class="mb-3">
                <label class="form-label text-light">Framework</label><br />
                [##FRAMW_PROD##]
            </div>
        </div>
        <button id="validation" class="btn btn-dark d-grid mx-auto">
            Valider
        </button>
    </form>
</section>
<section class="container mt-5">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th class="delete col-md-1"><img alt="suprimer le plat" title="suprimer le plat" src="./src/img/icons8-supprimer-pour-toujours-90_white.svg" /></th>
                <th class="edit col-md-1"><img alt="modifier le plat" title="modifier le plat" src="./src/img/icons8-modifier_white.svg" /></th>
                <th>titre</th>
            </tr>
        </thead>
        <tbody id="tab_find">
            [##FIND_PROD##]
        </tbody>
    </table>
</section>