.rectangular-glass-back {
  margin-left: -20px;
  margin-top: -20px;
  padding-bottom: 20px;
    background-color: #84a6bfa1;
    border: 0.5px #84a6bfb0 solid;
    border-radius: 20px;
    box-shadow: 3px -3px 0px #84a6bf62, 5px -5px 0px #84a6bf62,
      8px -8px 0px #84a6bf62, 10px -10px 0px #84a6bf62, 13px -13px 0px #84a6bf62,
      15px -15px 0px #84a6bf62, 18px -18px 0px #84a6bf62, 20px -20px 0px #84a6bf62;
}

.rectangular-glass {
  margin-left: 20px;
  margin-top: -20px;
  margin-right: -20px;
  background-color: #84a6bfa1;
  border: 0.5px #84a6bfb0 solid;
  border-radius: 20px;
  box-shadow: -3px 3px 0px #84a6bf62, -5px 5px 0px #84a6bf62,
    -8px 8px 0px #84a6bf62, -10px 10px 0px #84a6bf62, -13px 13px 0px #84a6bf62,
    -15px 15px 0px #84a6bf62, -18px 18px 0px #84a6bf62, -20px 20px 0px #84a6bf62;
}

.triangle-glass-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 0 100px 200px;
  border-color: transparent transparent transparent #007bff;
  border-radius: 20px;
  box-shadow: -3px 3px 0px #84a6bf62, -5px 5px 0px #84a6bf62,
    -8px 8px 0px #84a6bf62, -10px 10px 0px #84a6bf62, -13px 13px 0px #84a6bf62,
    -15px 15px 0px #84a6bf62, -18px 18px 0px #84a6bf62, -20px 20px 0px #84a6bf62;
}

.rectangular-glass label, .rectangular-glass .text_grav {
  font-weight: bold;
  font-size: 40px;
  color: rgb(201 243 255 / 58%);
  text-shadow: 2px -2px rgb(105 108 120 / 87%), 1px -1px #04007aab;
}
