#contenu_cat {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

#contenu_cat .box-3D-front {
    padding: 10px;
    width: 250px;
    height: 300px;
}