* {
    font-family: "Inter-Regular";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: black;
    color: white;
    min-width: 320px;
}

.contenu_main {
    overflow-x: hidden;
    /*overflow-y: auto;*/
}

/** header **/
header {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    background-color: black;
    height: 60px;
    z-index: 15;
}

.menu-and-bt {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: flex-start;
}

.menu-and-bt img {
    filter: invert(1);
}

.menu-and-bt .nav-default ul li img {
    display: inline;
    max-width: 25px;
    margin-right: 5px;
    vertical-align: middle;
}

.menu-and-bt .nav-default {
    display: none;
    width: 200px;
    color: white;
    background-color: #151515;
    height: 100vh;
    padding: 10px 0px;
}

.menu-and-bt .nav-default li {
    padding: 0px 10px;
}

.menu-and-bt .nav-default .lien:hover {
    background-color: #000000;
    cursor: pointer;
}

.display-login {
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: #808080;
    border: black 1px solid;
}

#menu-and-bt-left {
    left: 0;
}

#nav-left img {
    max-width: 15px;
}

#menu-and-bt-right {
    right: 0;
}

.menu-and-bt .bt-nav-default {
    background-color: #151515;
    padding: 5px;
}

.menu-and-bt .bt-nav-default:hover {
    background-color: #363636;
}

.menu-and-bt #bt-nav-left:hover img {
    transform: rotate(5deg);
}

.menu-and-bt #bt-nav-right:hover img {
    transform: rotate(-5deg);
}

.menu-and-bt .bt-nav-default img {
    width: 50px;
}

.menu-and-bt #nav-right {
    padding: 10px;
    padding-top: 45px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.menu-and-bt #nav-right li {
    text-align: left;
}

.menu-and-bt #nav-right * {
    text-align: center;
    padding: 0px 5px;
    /* padding: 5px; */
}

.menu-and-bt #nav-right input {
    margin: 0 0px;
    background-color: #808080;
    border: none;
    text-align: left;
}

.menu-and-bt #nav-right .display-login:hover {
    transform: scale(1.05);
}

.menu-and-bt #nav-right .display-login:hover input {
    transform: scale(0.9);
}

/*Change text in autofill textbox*/
.menu-and-bt #nav-right input:-webkit-autofill{
    background-color: #808080 !important;
}

/*Change text in autofill textbox*/
.menu-and-bt #nav-right input:-webkit-autofill-selected{
    background-color: #808080 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #808080 !important;
    color: white !important;
    -webkit-box-shadow: 0 0 0 1000px #808080 inset !important;
    -webkit-text-fill-color: white !important;
}

.menu-and-bt #nav-right input:focus {
    border: none;
    outline: none;
    background-color: #808080;
}

.menu-and-bt input:active {
    background-color : #808080;
}

.menu-and-bt input:focus-within, .menu-and-bt input:focus-visible {
    background-color : #808080;
}

.menu-and-bt .nav-default * {
    width: 100%;
    color: white;
}

.submenu {
    margin-left: 20px;
}

#form-pass .pass-perdu-display {
    color: darkgrey;
}

#form-pass .bt-connect {
    margin-top: 20px;
}

.check-nav, #pass-perdu-display {
    display: none;
}

#check-nav-left:checked ~ #nav-left {
    display: block;
}

#check-nav-left:checked ~ #bt-nav-left img {
    transform: rotate(90deg);
}

#check-nav-left:checked ~ #bt-nav-left:hover img {
    transform: rotate(95deg);
}

#check-nav-right:checked ~ #nav-right {
    display: flex;
}

/** footer **/
footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    background-color: #151515;
    flex-direction: column;
    align-items: center;
}

footer * {
    color: white;
}

footer img {
    width: 50px;
    height: 50px;
}

footer #taking li {
    display: inline-block;
}

#text_3d {
    top: 0;
    position: unset;
    margin-top: -35px;
    width: 800px;
    height: 171px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    overflow: hidden;
}

#section-main {
    width: 100%;
    height: 100%;
}

#form-pass {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.bt-connect {
    width: 80%;
    border: #8f8f8f 1px solid;
    border-radius: 5px;
    background-color: #606060;
    margin-top: -2px;
}

.bt-connect:hover {
    transform: scale(1.08);
}

section {
    position: absolute;
    padding: 65px 0px;
    min-width: 320px;
    width: 100%;
}

#choix-background {
    display: inline;
    margin-left: 5px;
    color: #808080ab;
    border: 1px #808080ab solid;
    padding: 5px;
}

#choix-background:hover {
    cursor: pointer;
    transform: scale(1.03);
}

#footer_main {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#taking {
    margin-top: 16px;
}

#reserves {
    color:rgb(156, 156, 156);
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
}

#form-pass-perdu {
    display: none;
}

#pass-perdu-display:checked ~ #form-pass-perdu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #8f8f8f 0.5px solid;
    border-radius: 5px;
    margin-top: 15px;
    padding: 15px 5px;
}

.nav-default input::placeholder {
    color: rgb(180, 180, 180);
    font-size: 1.1em;
}

#recep-mod-pass {
    width: 90%;
    margin-top: 15px;
}

/**********************/
/** version < 800px ***/
/**********************/
@media screen and (max-width: 800px) {
    #text_3d {
        width: 100%;
    }

    .wrap {
        display: none;
    }
}

/**********************/
/** version < 424px ***/
/**********************/
@media screen and (max-width: 424px) {
    h1 {
        font-size: 25px;
    }
}