.msg {
    display: block;
    padding: 20px;
    margin: auto;
    float: none;
    width: 1020px;
    border-radius: 20px;
}

.box-3D-size {
    overflow: hidden;
    background-color: black;
    width: 1020px;
    height: 633px;
}

.box-3D {
  margin: 0px auto;
}

.box-3D h2 {
    margin: auto;
    color: black;
    text-align: center;
    padding: 10px;
}

.box-3D .img {
    overflow: hidden;
    height: 100%;
}

.produit {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    /*border-radius: 20px;*/
}

.produit .title {
    display: flex;
    background-color: #9cfffd;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.box-3D .title-main, .box-3D .title-main-0 {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.box-3D .title-main-0 {
    position: absolute;
    width: 100%;
    display: flex;
    background-color: #9cfffd;
    height: 57px;
}

.carrousel .image_a {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}

.box-3D .image_a:hover, .box-3D .img:hover {
    cursor:pointer;
}

.box-3D .button-fake-1{
    background-color: red;
}
.box-3D .button-fake-2{
    background-color: orange;
}
.box-3D .button-fake-3 {
    background-color: green;
}

.button-fake-all {
    margin-left: 20px;
    display: flex;
    padding: 11px 0px;
    background-color: #9cfffd;
}

.button-fake {
    margin: 5px;
    border: black 1px solid;
    border-radius: 50%;
    width: 24px;
    height: 24px !important;    box-shadow: -5px 5px 10px 0.5px #8080807d;
}

.button-fake:hover {
    cursor:pointer;
}

#section-main {
    margin-bottom: -35px;
}

/**********************/
/** version tablette **/
/**********************/
@media screen and (max-width: 1050px) {
    /*--------------*/
    /** formulaire **/
    .msg {
        width: 500px;
    }

    .box-3D-size {
        width: 500px;
        height: 339px;
    }
}

/**********************/
/** version tablette **/
/**********************/
@media screen and (max-width: 540px) {
    /*--------------*/
    /** formulaire **/
    .msg {
        width: 300px;
    }

    .box-3D-size {
        width: 300px;
        /*height: 227px;*/
    }

    .button-fake-all {
        display: none;
    }

    .produit .title {
        /*display: none;*/
    }
    
    .box-3D .title-main, .box-3D .title-main-0 {
        background-color: #9cfffd;
    }

    .box-3D h2 {
        font-size: 1em;
    }

    
    .box-3D .title-main-0 {
        display: none;
    }

    /*.produit .title {
        background-color: #9cfffd;
    }*/
}