.carved-text {
	font-size: 2.75em;
	letter-spacing: 2px;
	background-color: #94909a;
	color: transparent;
	-webkit-background-clip: text;
	 -moz-background-clip: text;
		  background-clip: text;
	text-transform: uppercase;
	transform: rotate(-3deg);
	margin-right: 40px;
	margin-bottom: 20px;
	text-shadow: 1px 1px 1px hsla(0,0%,255%,0.5);
}
.relief-text {
	text-shadow: -1px -1px 1px hsla(0,0%,255%,0.6);	
	transform: translate(-1px, -1px);
}

.effect-3 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    -webkit-text-stroke: 0.015px rgb(86 86 86);
    text-shadow:  -1px 1px 0 #838383, -2px 2px 0 #7c7c7c, -3px 3px 0 #727272, -4px 4px 0 #6a6a6a, -5px 5px 0 #626262, -6px 6px 1px rgb(0 0 0 / 10%), -5px 0 5px rgb(0 0 0 / 10%), -1px 1px 3px rgb(0 0 0 / 30%), -3px 3px 5px rgb(0 0 0 / 20%), -5px 5px 10px rgb(0 0 0 / 25%), -10px 10px 10px rgb(0 0 0 / 20%), -20px 20px 20px rgb(0 0 0 / 15%);
}