/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(63, 63, 63);
    min-width: 320px;
}

.navbar-brand img {
    width: 55px;
    margin-left: 15px;
}

table img {
    width: 35px;
}

.dropdown {
    margin-right: 15px;
}

.logo-img {
    display: inline;
    width: 50px;
    padding: 5px;
}

.comp-contenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.comp-contenu figure {
    margin: 25px;
}

#checkProgress:checked ~ #formDateEndDisplay {
    display: none;
}

.list-column {
    display: flex;
}

.list-column .mb-3 {
    margin: 0px 15px;
}