<!--<h2 class="effect-3">contacter</h2>-->
<input type="hidden" id="text_3d1" value="A propos" />

    <figure class="box-3D box-3D-mov">
      <figure class="object-3D">
        <figure class="box-3D-front box-3D-size box-3D-default box-3D-color-glass">
          <input type="hidden" class="box-3D-depth3D" value="20" />
          <input type="hidden" class="box-3D-maxWidth" value="1020" />
          <div id="msg" class="box-3D-main-size">
            <h2 class="text_grav">Description</h2>
            <p  class="text_grav">[##descriptions##]</p>
            [##informations##]
          </div>
        </figure>
      </figure>
    </figure>