<!--<h2 class="effect-3">Développeur WEB et WEB mobile</h2>-->
<input type="hidden" id="text_3d1" value="Développeur WEB\n   et WEB Mobile" />
    <figure class="box-3D box-3D-mov">
        <figure class="object-3D">
            <figure class="box-3D-front box-3D-size box-3D-default box-3D-color-gray">
                <input type="hidden" class="box-3D-depth3D" value="20" />
                <input type="hidden" class="box-3D-maxWidth" value="1020" />
                <input type="hidden" class="box-3D-maxHeight" value="633" />
                <div class="logo-info-3d">
                    <img class="box-3D-logo-mov box-3D-logo" src="./src/img/360-degrees_3.svg" alt="mouvement 3D" />
                    <img class="box-3D-logo" src="./src/img/Shiny-3d.svg" alt="objet 3D" />
                </div>
                <div id="msg">
                    <figure class="title-main-0">
                    </figure>
                    [##div_produits##]
                    <figure class="title-main">
                        <figure class="button-fake-all">
                            <figure class="button-fake button-fake-1"></figure>
                            <figure class="button-fake button-fake-2"></figure>
                            <figure class="button-fake button-fake-3"></figure>
                        </figure>
                    </figure>
                </div>
            </figure>
        </figure>
    </figure>
</figure>