<!--<h2 class="effect-3">[##categorie##]</h2>-->
<input type="hidden" id="text_3d1" value="PROJETS [##categorie##]" />
<div id="contenu_cat">
    [##CAT_CONTENU##]
</div>

<script>
    /*window.onscroll = function(ev) {
        if ((window.innerHeight + window.scrollY) >= document.body.scrollHeight) {
            console.log("go");
        }
    };
    console.log(document.body.offsetTop);
    console.log(document.body.offsetHeight);
    console.log(screen.height);
    console.log(document.body.style.overflow);
    console.log(document.body.style.overflowX);
    console.log(document.body.style.overflowY);*/
</script>