<!--<h2 class="effect-3">[##produit##]</h2>-->
<input type="hidden" id="text_3d1" value="[##produit##]" />
<div id="page_desc">
    <figure id="language-framework-main">
        <figure id="logo-lien">
            [##logos_lien##]
        </figure>
        <figure id="language-framework">
            <p id="title-drag-drop">drag drop (demo)</p>
            <figure id="general-lang-fram">
                [##LANG_FRAMW##]
            </figure>
        </figure>
    </figure>
    <figure id="img-produit" class="box-3D box-3D-mov">
        <figure class="object-3D">
            <figure class="box-3D-front box-3D-default box-3D-color-glass box-3D-size">
                <div class="logo-info-3d">
                    <img class="box-3D-logo-mov box-3D-logo" src="./src/img/360-degrees_3.svg" alt="mouvement 3D" />
                    <img class="box-3D-logo" src="./src/img/Shiny-3d.svg" alt="objet 3D" />
                </div>
                <figure class="img-3D">
                    <img class="img-desc" src="[##SRC_IMG##]" alt="[##NAME_IMG##]">
                </figure>
            </figure>
        </figure>
    </figure>
    <figure id="description">
        [##DESC##]
    </figure>
</div>
