<h2 class="effect-3">[##produit##]</h2>
<div id="desc-img">
    <figure class="rectangular-glass-back">
        <figure id="desc-img-contenu" class="rectangular-glass">
            <img src="./src/img/2022-05-31 11_47_23-Window.svg">
        </figure>
    </figure>
</div>
<figure class="triangle-glass-right"></figure>
<div class="wrap">
    <div class="rotor-x">
        <div class="rotor-y">
            <div class="rotor-z">
                <div class="triangle face-1"></div>
                <div class="triangle face-2"></div>
                <div class="triangle face-3"></div>
                <div class="triangle face-4"></div>
            </div>
        </div>
    </div>
</div>