<!--<h2 class="effect-3">[##produit##]</h2>-->
<input type="hidden" id="text_3d1" value="[##produit##]" />
<div id="text_3d"></div>
<div id="desc-img">
    <figure class="rectangular-glass-back">
        <figure id="desc-img-contenu" class="rectangular-glass">
            <img src="./src/img/2022-05-31 11_47_23-Window.svg">
        </figure>
    </figure>
</div>
<figure id="list">
<figure class="wrap-object-3D">
    <figure class="box-3D">
        <figure class="object-3D">
            <figure class="box-3D-front box-3D-default box-3D-color-glass">
                <figure class="img-3D box-3D-size">
                    <img class="img-desc" src="./src/img/2022-05-31 11_47_23-Window.svg">
                </figure>
            </figure>
            <figure class="box-3D-bottom box-3D-default box-3D-color-glass"></figure>
            <figure class="box-3D-back box-3D-default box-3D-color-glass"></figure>
            <figure class="box-3D-top box-3D-default box-3D-color-glass"></figure>
            <figure class="box-3D-left box-3D-default box-3D-color-glass"></figure>
            <figure class="box-3D-right box-3D-default box-3D-color-glass"></figure>
            <figure class="border-3D-left-top">
                <figure class="box-3D-border box-3D-border-1 box-3D-default box-3D-color-glass"></figure>
                <figure class="box-3D-border box-3D-border-2 box-3D-default box-3D-color-glass"></figure>
                <figure class="box-3D-border box-3D-border-3 box-3D-default box-3D-color-glass"></figure>
                <figure class="box-3D-border box-3D-border-4 box-3D-default box-3D-color-glass"></figure>
            </figure>
            <figure class="border-3D-right-top"></figure>
            <figure class="border-3D-left-bottom"></figure>
            <figure class="border-3D-right-bottom"></figure>
        </figure>
    </figure>
</figure>
<figure class="wrap-object-3D">
    <figure class="box-3D">
        <figure class="object-3D">
            <figure class="box-3D-front box-3D-default box-3D-color-glass">
                <figure class="img-3D box-3D-size">
                    <img class="img-desc" src="./src/img/2022-05-31 11_47_23-Window.svg">
                </figure>
            </figure>
            <figure class="box-3D-bottom box-3D-default box-3D-color-glass"></figure>
            <figure class="box-3D-back box-3D-default box-3D-color-glass"></figure>
            <figure class="box-3D-top box-3D-default box-3D-color-glass"></figure>
            <figure class="box-3D-left box-3D-default box-3D-color-glass"></figure>
            <figure class="box-3D-right box-3D-default box-3D-color-glass"></figure>
            <figure class="border-3D-left-top">
                <figure class="box-3D-border box-3D-border-1 box-3D-default box-3D-color-glass"></figure>
                <figure class="box-3D-border box-3D-border-2 box-3D-default box-3D-color-glass"></figure>
                <figure class="box-3D-border box-3D-border-3 box-3D-default box-3D-color-glass"></figure>
                <figure class="box-3D-border box-3D-border-4 box-3D-default box-3D-color-glass"></figure>
            </figure>
            <figure class="border-3D-right-top"></figure>
            <figure class="border-3D-left-bottom"></figure>
            <figure class="border-3D-right-bottom"></figure>
        </figure>
    </figure>
</figure>
</figure>
<figure class="triangle-glass-right"></figure>
