<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./src/css/normalizer.css" />
    <link rel="stylesheet" href="./src/css/font.css" />
    <link rel="stylesheet" href="./src/css/style_default.css" />
    <link rel="stylesheet" href="./src/css/texte_3d.css" />
    <link rel="stylesheet" href="./src/css/object_3D.css" />
    <link rel="stylesheet" href="./src/css/triangle_3d_test.css" />
    <link rel="stylesheet" href="./src/css/button_lum_3d.css" />
    <link rel="stylesheet" href="./src/css/object_glass.css" />[##CONTENU_CSS##]
    <script async src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"></script>
    <title>Portfolio</title>
  </head>
  <body>
    <header id="header-main">
      <div class="menu-and-bt" id="menu-and-bt-left">
        <input
          type="checkbox"
          name="check-nav-left"
          id="check-nav-left"
          class="check-nav"
        />
        <figure id="nav-left" class="nav-default">
          <ul>
            <li class="lien"><a class="click-lien" href="./">Accueil</a></li>
            <li>
              Projects
              <ul class="submenu">
                [##CATEGORIES##]
              </ul>
            </li>
            <li class="lien"><a class="click-lien" href="./?ind=comp">Conpétences</a></li>
            <li class="lien"><a class="click-lien" href="./?ind=parc">Parcours</a></li>
          </ul>
        </figure>
        <label id="bt-nav-left" class="bt-nav-default" for="check-nav-left">
          <img id="img-nav-left" src="./src/img/menu-white.svg" alt="" />
        </label>
      </div>
      <h1 id="txt_matrix">Ludovic NAULOT</h1>

      <div class="menu-and-bt" id="menu-and-bt-right">
        <input
          type="checkbox"
          name="check-nav-right"
          id="check-nav-right"
          class="check-nav"
        />
        <label id="bt-nav-right" class="bt-nav-default" for="check-nav-right">
          <img id="img-nav-right" src="./src/img/cadenas-ferme-white.svg" alt="" />
        </label>
        <nav id="nav-right" class="nav-default">
          <p>Accèx utilisateur</p>
          [##CONNECTED##]
        </nav>
      </div>
    </header>
    <section id="contenu-main" class="contenu-main">
      <p id="choix-background">BINARY</p>
      <div class="wrap">
        <div class="rotor-x">
            <div class="rotor-y">
                <div class="rotor-z">
                    <div class="triangle face-1"></div>
                    <div class="triangle face-2"></div>
                    <div class="triangle face-3"></div>
                    <div class="triangle face-4"></div>
                </div>
            </div>
        </div>
    </div>
      [##CONTENU##]
    </section>
    <canvas id="body_matrix"></canvas>
    <footer id="footer-main">
      <ul>
        <li><a href="./?ind=msg">Contact</a></li>
        <li><a href="./?ind=legales"></a>Mentions Légales</li>
      </ul>
      <ul id="taking">
        <li class="container-bt-3D"><a href="https://github.com/pctronique" class="button">
          <span class="button_glow"><img src="./src/img/signe-github.svg" alt="" /></span>
          <span class="button_side button_front"><img src="./src/img/signe-github.svg" alt="" /></span>
          <span class="button_side button_bottom"></span>
          <span class="button_side button_back"></span>
          <span class="button_side button_top"><img src="./src/img/signe-github.svg" alt="" /></span>
          <span class="button_side button_left"></span>
          <span class="button_side button_right"><img src="./src/img/signe-github.svg" alt="" /></span>
        </a></li>
        <li class="container-bt-3D"><a href="https://www.linkedin.com/in/ludovic-naulot-0451284b" class="button">
          <span class="button_glow"></span>
          <span class="button_side button_front"><img src="./src/img/linkedin.svg" alt="" /></span>
          <span class="button_side button_bottom"></span>
          <span class="button_side button_back"></span>
          <span class="button_side button_top"><img src="./src/img/linkedin.svg" alt="" /></span>
          <span class="button_side button_left"></span>
          <span class="button_side button_right"><img src="./src/img/linkedin.svg" alt="" /></span>
        </a></li>
      </ul>
    </footer>
    <script src="./src/js/mwgokv.js"></script>
    <script src="./src/js/menu.js"></script>
    <script src="./src/js/object_glass.js"></script>
    <script src="./src/js/le_fetch.js"></script>
    <script src="./src/js/connexion.js"></script>
    <script src="./src/js/button_lum_3d.js"></script>
    <script src="./src/js/object_3D.js"></script>
		<script type="importmap">
			{
				"imports": {
					"three": "./src/bin/three_js/build/three.module.js"
				}
			}
		</script>
    <script type="module" src="./src/js/threejs_text_3D.js"></script>[##CONTENU_JS##]
  </body>
</html>
