

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./src/css/normalizer.css" />
    <link rel="stylesheet" href="./src/css/style_default.css" />
    <title>Portfolio</title>
</head>
<body>
    <header>
        <div class="menu-and-bt">
            <nav id="nav-left" class="nav-default">
                <ul>
                    <li>Accueil</li>
                    <li>Projects
                        <ul>
                            <li>Web</li>
                            <li>Java</li>
                        </ul>
                    </li>
                    <li>Conpétences</li>
                    <li>Parcours</li>
                </ul>
            </nav>
            <figure id="bt-nav-left" class="bt-nav-default">
                <img src="./src/img/menu-white.svg" alt="" />
            </figure>
        </div>
        <h1>Ludovic NAULOT</h1>
        
        <div class="menu-and-bt">
            <figure id="bt-nav-right" class="bt-nav-default">
                <img src="./src/img/cadenas-ferme-white.svg" alt="" />
            </figure>
            <nav id="nav-right" class="nav-default">
                <p>Accèx utilisateur</p>
                <input name="name-user" id="name-user" />
                <input name="pass-user" id="pass-user" />
                <a href="#" id="bt-pass-perdu">Mot de passe perdu</a>
                <a href="#" id="connected">Se connecter</a>
            </nav>
        </div>
    </header>
    <canvas id="binary"></canvas>
    <footer>
        <ul>
            <li>Contact</li>
            <li>Mentions Légales</li>
        </ul>
        <ul id="taking">
            <li><img src="./src/img/signe-github.svg" alt="" /></li>
            <li><img src="./src/img/linkedin.svg" alt="" /></li>
        </ul>
    </footer>
    <script src="./src/js/mwgokv.js"></script>
</body>
</html>