<!--<h2 class="effect-3">Parcours</h2>-->
<input type="hidden" id="text_3d1" value="Parcours" />
<div id="text_3d"></div>
<figure class="wrap-object-3D">
    <figure class="box-3D">
        <figure class="object-3D">
            <figure class="box-3D-front box-3D-default box-3D-color-glass">
            <h4 class="text_grav">Formation</h4>
            [##formation##]
            <h4 class="text_grav">Expériences</h4>
            [##experience##]
        </figure>
        <figure class="box-3D-bottom box-3D-default box-3D-color-glass"></figure>
        <figure class="box-3D-back box-3D-default box-3D-color-glass"></figure>
        <figure class="box-3D-top box-3D-default box-3D-color-glass"></figure>
        <figure class="box-3D-left box-3D-default box-3D-color-glass"></figure>
        <figure class="box-3D-right box-3D-default box-3D-color-glass"></figure>
        <figure class="border-3D-left-top">
            <figure class="box-3D-border box-3D-border-1 box-3D-default box-3D-color-glass"></figure>
            <figure class="box-3D-border box-3D-border-2 box-3D-default box-3D-color-glass"></figure>
            <figure class="box-3D-border box-3D-border-3 box-3D-default box-3D-color-glass"></figure>
            <figure class="box-3D-border box-3D-border-4 box-3D-default box-3D-color-glass"></figure>
        </figure>
        <figure class="border-3D-right-top"></figure>
        <figure class="border-3D-left-bottom"></figure>
        <figure class="border-3D-right-bottom"></figure>
        </figure>
        </figure>
        </figure>