<!--<h2 class="effect-3">Parcours</h2>-->
<input type="hidden" id="text_3d1" value="Parcours" />
<div id="text_3d"></div>
<figure class="box-3D box-3D-mov">
    <figure class="object-3D">
      <figure class="box-3D-front box-3D-size box-3D-default box-3D-color-glass">
        <input type="hidden" class="box-3D-depth3D" value="20" />
        <input type="hidden" class="box-3D-maxWidth" value="1020" />
        <div id="msg" class="box-3D-main-size">
          <a id="cv-download" href="[##cv_download##]" target="_blank"><img src="./src/img/illust58-4787-01.svg" alt="cv download" /></a>
            <h4 class="text_grav title-main-parc">Formation</h4>
            <figure class="text_grav conteneur-parc">[##formation##]</figure>
            <div class="separator"></div>
            <h4 class="text_grav title-parc">Expériences</h4>
            <figure class="text_grav conteneur-parc">[##experience##]</figure>
        </div>
      </figure>
    </figure>
  </figure>